body {
  background: url('https://images.pexels.com/photos/1098515/pexels-photo-1098515.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
  }

  
  h1 {
    font-family: "Tagesschrift", system-ui;
    font-weight: 900;
    font-style: normal;
  }

  input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 40%;
    color: black;
    font-size: 20px;
    background: #8bb1ad;
    padding: 20px;
    font-family: "Tagesschrift", system-ui;
    }
    
    button {
    padding: 20px 50px 20px 70px;
    background-color: #547792;
    margin-top: 10px;
    border-bottom: 2px solid black;
    border-radius: 30%;
    color: black;
    font-size: 20px;
    cursor: pointer;
    }
    
    p {
      max-width: 100%;
      background: #a3a8a6;
      margin-top: 20px;
      border-bottom: 2px solid black;
      border-radius: 25%;
      font-family: "Tagesschrift", system-ui;
      width: 600px;
      font-size: 20px;
      
      }